---
{
    "stream": {
        "$id": "sample-stream",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "mainPhone",
            "description", 
            "photoGallery",
            "slug"
        ], 
        "filter" : {
            "entityTypes": [
                ""
            ]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}} - {{neighborhood}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{!-- <div class="centered-container">
                    {{>backbutton}}
                </div> --}}
                {{>hero}}
                <div class="centered-container">
          
                    <div class="section">{{>about}} </div>
              
                 
                    <script src="faqs.js"></script>  
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>